* {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

/* ihone  */
.container {
	margin: 0 auto;
	width: 90%;
}

.content-img img {
	width: 100%;
}

.form1 {
	width: 80%;
	height: 50px;
	display: inline;
}




/*  tablet  */
@media (max-width: 720px){
	.header-nav {
		display: none;
	}
	.links-wrapper {
		display: none;
	}
}